{
    "Checks": [
        "-*",
        "boost-*",
        "bugprone-*",
        "clang-analyzer-*",
        "concurrency-*",
        "cppcoreguidelines-*",

        "misc-*",
        "-misc-include-cleaner",

        "modernize-*",
        "-modernize-use-trailing-return-type",

        "performance-*",

        "portability-*",
        "-portability-simd-intrinsics",

        "readability-*",
        # Good idea, not important in this project right now
        "-readability-identifier-length",
        "-readability-magic-numbers",
        # False-positives
        "-readability-convert-member-functions-to-static",

        # Aliases for other checks, which clang-tidy would otherwise rerun
        "-cert-arr39-c",
        "-cert-con36-c",
        "-cert-con54-cpp",
        "-cert-ctr56-cpp",
        "-cert-dcl03-c",
        "-cert-dcl16-c",
        "-cert-dcl37-c",
        "-cert-dcl51-cpp",
        "-cert-dcl54-cpp",
        "-cert-dcl59-cpp",
        "-cert-err09-cpp",
        "-cert-err61-cpp",
        "-cert-exp42-c",
        "-cert-fio38-c",
        "-cert-flp37-c",
        "-cert-int09-c",
        "-cert-msc24-c",
        "-cert-msc30-c",
        "-cert-msc32-c",
        "-cert-msc33-c",
        "-cert-msc54-cpp",
        "-cert-oop11-cpp",
        "-cert-oop54-cpp",
        "-cert-pos44-c",
        "-cert-pos47-c",
        "-cert-sig30-c",
        "-cert-str34-c",
        "-cppcoreguidelines-avoid-c-arrays",
        "-cppcoreguidelines-avoid-magic-numbers",
        "-cppcoreguidelines-c-copy-assignment-signature",
        "-cppcoreguidelines-explicit-virtual-functions",
        "-cppcoreguidelines-macro-to-enum",
        "-cppcoreguidelines-narrowing-conversions",
        "-cppcoreguidelines-noexcept-destructor",
        "-cppcoreguidelines-noexcept-move-operations",
        "-cppcoreguidelines-noexcept-swap",
        "-cppcoreguidelines-non-private-member-variables-in-classes",
        "-cppcoreguidelines-use-default-member-init",
    ],
    "CheckOptions": {
        "cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor": true,
        "cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted": true,
        "cppcoreguidelines-special-member-functions.AllowImplicitlyDeletedCopyOrMove": true,

        "misc-const-correctness.AnalyzeValues": false,
    }
}